name: First-CI

on: push

jobs: 
    first-job:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: List and Read Files
              run: |
                  echo "Hello"
                  ls
                  cat README.md
            
            - name: Generate ASCII Artwork
              run: cowsay -f dragon "Dragon" >> dragon.txt